<div class="flex flex-col items-center">
  <div class="flex mt-12 items-center justify-center space-x-4 w-full">
    <%== pagy_nav(@pagy) %>
  </div>
  <p class="text-center mt-8 text-gray-500"><%== pagy_info @pagy %></p>
</div>