<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-6">Editing Development</h1>

<div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-4 mt-6">
  <%= link_to "Show this development", moderator_development_path(@development), class: "w-full md:w-auto rounded-lg py-3 px-5 bg-gray-100 text-gray-800 font-medium hover:bg-gray-200" %>
  <%= link_to "Back to developments", moderator_developments_path, class: "w-full md:w-auto rounded-lg py-3 px-5 bg-gray-100 text-gray-800 font-medium hover:bg-gray-200" %>
  <% if current_user.admin? || current_user.owner? %>
    <%= button_to "Delete", moderator_development_path(@development), method: :delete, form: { data: { 'turbo-confirm': 'Are you sure?' } }, class: "w-full lg:w-auto rounded-lg py-3 px-5 bg-red-600 text-white font-medium hover:bg-red-700" %>
  <% end %>
</div>


  <%= render "form", development: @development %>
</div>
