<%= turbo_frame_tag "description" do %>
    <div class="flex flex-col gap-2 items-center justify-center w-full">
        <div class="p-4 w-full border border-gray-100 shadow-md">
            <div class="w-full">
                <h4 class="text-lg font-semibold">A <%= @development.acreage%> Acre Development</h4>
                <%= render "users/addresses/address", address: @development.address %>
            </div>
            <div class="mt-4 w-full" id="description">
                <h4 class="text-md pb-2 font-semibold">Description: </h4>
                <p class="text-md">
                <%= @development.description %>
                </p>
            </div>
        </div>
    </div>
<% end %>