<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-center mb-4"> <!-- Centering container -->
    <%= render "paginator" %>
  </div> <!-- End of centering container -->

  <div id="developments" class="min-w-full">
    <% @developments.each do |development| %>
      <%= render "development_card", development: development, average: @development_averages[development.id] %>
    <% end %>
  </div>
</div>
