<!-- app/views/search/index.html.erb -->
<div class="container mx-auto flex-grow">
  <!-- Display search results -->
  <% if @results.present? %>
    <h2 class="text-xl font-bold mt-4 mb-2">Search Results:</h2>
    <ul>
      <% @results.each do |result| %>
        <li>
          <% if result.is_a?(Development) %>
            <ul><%= render "developments/development_card", development: result, average: result.review_average %></ul>
          <% elsif result.is_a?(User) %>
            <ul><%= render "users/user_card", user: result %></ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
