<!-- app/views/search/index.html.erb -->
<div class="w-full flex flex-col items-center justify-center">
  <!-- Display search results -->
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if @results.present? %>
    <div class="flex justify-center mb-4"> <!-- Centering container -->
      <%= render "users/developments/paginator", pagy: @pagy %>
    </div> <!-- End of centering container -->
  <% end %>

  <div class="w-full">
    <%= render "form" %>
  </div>

  <% if @results.present? %>
    <div class="min-w-full mt-4">
      <% @results.each do |result| %>
          <%= render "users/developments/development_card", development: result, average: result.review_average %>
      <% end %>
    </div>


  <% end %>
</div>
