<footer class="w-full p-4 bg-white border-t border-green-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-green-800 dark:border-green-600">
    <span class="text-sm text-green-700 sm:text-center dark:text-green-300">© 2024
        <%= link_to "ConeFlower", "#", class: "hover:underline" %>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-green-700 dark:text-green-300 sm:mt-0">
        <li>
            <a href="https://github.com/trustpizza/coneflower" class="hover:underline me-4 md:me-6">Open Source</a>
        </li>
        <li>
            <%= link_to "About", about_us_path, class: "hover:underline me-4 md:me-6" %>
        </li>
        <li>
            <a href="#" class="hidden hover:underline me-4 md:me-6">Licensing</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>
